*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    background-color:rgb(39, 70, 39);
    opacity: 0.85;
    padding:10px;
}

#top-section{
    width:99.5%;
    background-color: rgb(243, 243, 243);
    border-radius: 7px;
    border: .5px white solid;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
}

#top-border{
    border: 2px solid rgb(39, 70, 39);
    border-radius: 5px;
    margin:7px;
}

/* #opening-image {
    max-width: 100vw;
    height: 80vh;
    background-image: url('./photos/home.png');
    background-size: cover;
    border-radius: 5px;
    margin: 0 auto;
} */

#opening-image {
    position: relative;
    max-width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}

#diet-div{
    background-color: '';
    width:98%;
    margin: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#form-header{
    font-weight: lighter;
    color: black;
    font-size: 20px;
}

#bottom-section{
    width:99.5%;
    height:80%;
    background-color:rgb(243, 243, 243);
    margin-top: 20px;
}

#recipe-returns{
    background-color: '';
    border: .5px solid rgb(39, 70, 39);
    border-radius: 7px;
    width:98%;
    height:98%;
    margin:7px;
    padding:30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card{
    width: 300px;
    height: 450px;
    padding: 25px;
    text-align: center;
    display:flex;
    flex-flow: column nowrap;
}

.card:hover{
    opacity: .5;
    background: rgb(172, 171, 171);
    color: #FFF;
    z-index: 0;
}

.card-content {
    color:rgb(39, 70, 39);
    font-weight:lighter;
    width: 98%;
    height:15%;
    z-index:1;
}

.card-title{
    margin-top: -30px;
    height: 100%;
    z-index:1;
    color:rgb(39, 70, 39);
}

.card-image {
    width:100%;
    margin-top:80px;
    z-index:0;
    border-radius: 5px;
}

.card-link {
    margin-left:100px;
}

.card-url{
    position:absolute;
    margin-top: 400px;
    color: rgb(39, 70, 39, 0.9);
    /*The 0.5 at the end of the color is for opacity.*/
    margin-left:65px;
}

#clearResults{
    position:absolute;
    margin-top: 15px;
    margin-left: 25rem;
}

.iconwrapper{
position:absolute;
border-radius:10px;
top: 10px;
right: 10px;
width: 30px;
height:30px;
color: rgb(39, 70, 39, 0.5);
}

#favoritesButton{
    position:relative;
    margin: 0 0 10px 0;
    align-self:left;
    width:120px;
    height: 40px;
    color: #B45008;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 45px;
    box-shadow: 0 5px 25px rgb(28, 37, 28);
    transition: all 0.3s ease 0s;
    cursor:pointer;
}

#favoritesButton:hover {
    box-shadow: 0 5px 25px white;
}

#goBackButton{
    position:relative;
    margin: 0 0 10px 0;
    align-self:left;
    width:120px;
    height: 40px;
    color: #B45008;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 45px;
    box-shadow: 0 5px 25px rgb(39, 70, 39, 0.9);
    transition: all 0.3s ease 0s;
    cursor:pointer;
}

#goBackButton:hover {
    box-shadow: 0 5px 25px #daaa88;
}

@media (min-width:577px) {
    .image-1 {
      display: block;
    }
    .image-2 {
      display: none;
    }
}

@media (max-width:576px) {
    .image-1 {
      display: none;
    }
    .image-2 {
      display: block;
    }
}